<div id="header"> 
  <!-- <mat-toolbar color="primary" id="header"> -->
    <div id="title-block">
      <a id="home-link" href="/">
        <h1>ViewTube</h1>
      </a>
    </div>
    <!-- <div id="search">
      <input type="text" name="searchquery" id="searchquery">
      <button>search</button>
    </div> -->
    <mat-form-field appearance="fill" id="search">
      <input matInput type="text" name="searchquery" id="searchquery">
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <div id="navbar">
      <!-- <button>notifications</button> --> <button mat-icon-button><mat-icon>notifications</mat-icon></button>
      <!-- <button>video_call</button>  --> <button mat-icon-button><mat-icon>video_call</mat-icon></button>
      <!-- <button>apps</button> --> <button mat-icon-button><mat-icon>apps</mat-icon></button>
    </div>
  </div>
<!-- </mat-toolbar> -->